.column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
  min-width: 20vw;
  margin: 0 10px;
}

.column__button {
  min-width: 0 !important;
  visibility: hidden;
}

.column__action {
  margin-right: 0 !important;
}

.isFocused {
  visibility: visible;
}
