.team-member-link-wrapper {
  text-decoration: none;
  transition: 0.5s;
}

.team-member-link-wrapper:hover {
  transform: scale(1.05);
}

.team-member {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 310px;
  height: 110px;
  margin: 10px 15px;
  padding: 10px 5px;
}

.team-member-github-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.team-member-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.team-member-info :first-child {
  font-size: 18px;
  font-weight: bold;
}

.team-member-info :last-child {
  margin-top: 10px;
}
