.welcome-header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
}

.welcome-header a {
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.welcome-header a:hover {
  color: white;
  background-color: gray;
}

.welcome-header :first-child {
  margin-right: 20px;
}
