.welcome-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
}

.welcome-header a {
  box-sizing: content-box;
  white-space: nowrap;
}

.welcome-header :last-child {
  margin-left: 20px;
}

@media (max-width: 320px) {
  .welcome-header {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .welcome-header :last-child {
    margin-left: 0;
    margin-bottom: 15px;
  }
}

.welcome-h1 {
  font-size: 50px;
}

.about {
  width: 50%;
  margin-top: 50px;
  transition: 0.5s;
}

.about p {
  max-width: 300px;
  text-align: left;
}

.show-team {
  margin-top: 50px;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.show-team:hover {
  text-decoration: underline;
}

.show-team:hover .show-team-arrow {
  transform: rotate(0.25turn);
}

.show-team p {
  margin-bottom: 5px;
}

.show-team .show-team-arrow {
  transition: 0.5s;
}

@media (max-width: 1200px) {
  .about {
    width: 75%;
  }
}
